body {
  background-color: lightblue;
  font-family: sans-serif;
  padding-top: 50px;
}
input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px gray solid;
  font-size: 20px;
  padding: 5px;
}
button {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: 1px gray solid;
  font-size: 20px;
}
.no-focus {
  outline: 0;
}
#main {
  text-align: center;
}
#search-input {
  width: 284px;
}
#todo-list {
  padding-top: 20px;
}
#todo-list ul {
  padding: 0;
  list-style-type: none;
  width: 300px;
  margin: auto;
}
#todo-list ul li {
  font-family: sans-serif;
  font-size: 22px;
  margin-top: 25px;
  text-align: left;
  padding-left: 5px;
}
#todo-list ul li:before {
  content: url('./images/icon_delete.png');
  position: relative;
  margin-right: 10px;
}
.delete-buttons {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 17px;
  background-color: white;
  border: 0px white;
  outline: 0;
}
.icon-delete {
  background: url('./images/icon_delete.png') no-repeat top left;
  width: 32px;
  height: 32px;
}
